[SddmGreeterTheme]
Name=Sparky Black
Description=Sparky Black Theme (based on Breeze)
Author=David Edmundson, pavroo, Daniel Campos
Copyright=(c) 2019, David Edmundson, pavroo, Daniel Campos
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/sddm/sddm
Screenshot=sparky.jpg
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=davidedmundson@kde.org
Theme-Id=breeze
Theme-API=2.0
